@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f1f1f1;
  font-family: "Poppins";
}

header {
  background: #fff;
}

.container {
  max-width: 1400px;
  width: 80%;
  margin: 0 auto;
}

h1 {
  color: yellow;
  padding: 0.5em 0;
  cursor: pointer;
}

.main {
  margin: 0 auto;
  max-width: 400px;
  scroll-behavior: smooth;
}

.message-area {
  display: flex;
  flex-direction: column;
  margin: 1em 0;
  padding: 0;
  list-style: none;
  overflow-x: hidden;
  overflow-y: auto;
  height: 75vh;
}

.user__message {
  background-color: #fff;
  width: fit-content;
  border-radius: 8px;
  padding: 0.2em 1em;
  margin-left: auto;
  margin-top: auto;
  word-break: break-word;
}

.user__message + .user__message {
  margin-top: 1em;
}

.user__message--others {
  margin-left: 0;
  margin-right: auto;
}

form {
  display: flex;
  align-items: center;
}

input {
  padding: 0.7em;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

form button {
  font-size: 1rem;
  font-weight: 700;
  background: yellow;
  border: 0;
  color: #fff;
  padding: 0.5em 1em;
  cursor: pointer;
  transition: color 100ms;
}


/* ScrollBar Style*/


/* Width and height of the scrollbar track */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

/* Style of the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #888; /* Color of the thumb */
  border-radius: 6px; /* Rounded corners of the thumb */
}

/* Style on hover for the scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color on hover */
}

